.main {
  /* margin: 30px auto; */
  margin: 30px 300px;
  text-align: center;
}
.heading {
  /* margin: 10px 300px; */
  padding: 10px 20px;
  color: cornflowerblue;
  background: aliceblue;
  border-radius: 20px;
  border: 2px solid cornflowerblue;
}

.content-input {
  display: flex;
  margin: 10px 0;
  border: 1px solid cornflowerblue;
  /* background: cornflowerblue; */
}

form {
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
}
table {
  width: 70%;
  border-collapse: collapse;
}
tr {
  border-radius: 1px solid rgb(46, 86, 161);
}
th {
  font-size: 19px;
  color: cornflowerblue;
}
th,
td {
  border: none;
  height: 30px;
  width: 2px;
}
tr:hover {
  background: cornflowerblue;
}
.task {
  text-align: left;
}
.delete {
  text-align: center;
}
.delete a {
  color: white;
  background: violet;
  padding: 1px 6px;
  border-radius: 3px;
  text-decoration: none;
}
